<!DOCTYPE html>
<html lang="ja">
<head>
<% include ../../bower_components/ejs-head-modules/meta %>
<% include ../../bower_components/ejs-head-modules/ios-meta %>
<% include ../../bower_components/ejs-head-modules/facebook-ogp %>
<title><%= meta.title %></title>
<link rel="stylesheet" href="<%= root %>/css/<%= name %>.css" />
<script src="<%= root %>/js/<%= name %>.js"></script>
</head>
<body>
<div id="tilegame">
<!-- /#tilegame --></div>
</body>
</html>
